VITE_BACKEND_URL=https://localhost:8443
VITE_APP_DEPLOY_ORIGIN=http://localhost:5173
VITE_APP_DEV_ORIGIN=https://localhost:5173
VITE_GOOGLE_CLIENT_ID=MY_GOOGLE_CLIENT_ID.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=https://localhost:5173/auth/google-callback
VITE_MICROSOFT_CLIENT_ID=MY_MICROSOFT_CLIENT_ID
VITE_MICROSOFT_REDIRECT_URI=https://localhost:5173/auth/microsoft-callback