# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional 
package-lock.json
src/api/types/openapi/openapi-graph
src/tests/units/ui/__screenshots__
.github/copilot-instructions.md
package-lock.json

# TS files
*.d.ts

# Env files
.env.prod

# Test screenshots and images
src/tests/units/ui/__screenshots__
src/tests/units/ui/__images__