/**
  * Make sure the card content has a max height -
  * With smooth animation when content size changes
  *
  * All child elements will also have smooth transitions
  */
.card-content-max-height-with-animation {
  overflow: auto;
  max-block-size: 650px;
  transition: max-block-size 0.3s ease;

  * {
    transition: 0.3s ease;
  }
}

/**
  * Global styles for icon styles
  *   - Mainly used for the icons in the page title, but can be used for any icon in the app
  */
:root {
  --icon-color: var(--tb-color-primary);
  --icon-not-hovered-opacity: 0.7;
}

/**
  * Global variables hover effects
  */
:root {
  --hover-opacity: 0.7;
  // Can be used for disabled, scale state as well
  --hover-opacity-transition: 0.2s ease-in-out;
  --disabled-opacity: 0.5;
  --hover-scale: 0.8;
  --hover-scale-active: 0.95;
}

$borders: calc(1px * 2);

/**
  * Global variables for the page
  *   - Top of the page (e.g, breadcrumbs)
  *   - The page title (e.g, "Evaluations")
  *   - The main content container (e.g, the tabs and their content)
  */
:root {
  // Spacing variables
  --gap: calc(var(--spacing) * 2);
  // Title
  --page-title-padding: 45px;
  --page-title-padding-top: 5px;
  --page-title-fs: 3rem;
  --page-title-fw: 700;
  --page-title-lh: 1.5;
  /* Combined title space: font-size * line-height + paddings (approximate; accurate unless the title wraps) */
  --calculated-title-space: calc((var(--page-title-fs) * var(--page-title-lh)) + var(--page-title-padding) + var(--page-title-padding-top));
  // Header - breadcrumbs, actions, etc.
  --page-header-height: calc(var(--spacing) * 16);
  --app-overall-gap: var(--gap);
  // Nav tabs
  --nav-tabs-height: calc(var(--spacing) * 9);
  --nav-tabs-translate-y: 0px; // Adjust this value to control how much the nav tabs overlap with the header
  --nav-tabs-visual-height: calc(var(--nav-tabs-height) + var(--nav-tabs-translate-y));

  // Page content
  --bottom-margin: 1rem;
  --bottom-padding: 0;
  --tw-padding-block: calc(var(--spacing) * 6);

  // Combined top offset for pages that need remaining height
  --page-top-offset: calc(var(--calculated-title-space) + var(--page-header-height));

  --content-offset: calc(var(--page-top-offset) + var(--bottom-margin) + #{$borders});
  // --content-offset: calc(var(--page-top-offset) + var(--nav-tabs-height) + var(--bottom-margin) + var(--gap) + 1px);
}