Button {

  &:is(:disabled, .button--disabled) {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:is([data-is-editing="true"], :focus, :focus-visible, :focus-within) {
    z-index: 60;
    isolation: isolate;
  }


}

/**
 * Apply a blur effect to the dialog overlay background
 */
[data-slot="dialog-overlay"] {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

/* Only highlight the group when it's focused or has an open trigger, but NOT when a descendant is explicitly in editing mode */
:is([role="group"], [data-slot="field"], [data-slot="item-group"], [data-slot="select-group"]):not(:has([data-is-editing="true"])):is(:has([aria-expanded="true"]), :has([data-state="open"]), :has(*:focus-visible)) {
  // :is([role="group"], [data-slot="field"], [data-slot="field-group"], [data-slot="item-group"], [data-slot="select-group"]):not(:has([data-is-editing="true"])):is(:has([aria-expanded="true"]), :has([data-state="open"]), :has(*:focus-visible)) {
  z-index: 1;
  isolation: isolate;
  background: white;
  border-radius: 10px;
  padding: 5px;
  transition: padding 0.4s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

form,
[role="group"] {
  transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  // &:is(form):has([data-is-editing="true"], *:focus-visible, [aria-expanded="true"], [data-state="open"], [data-slot="select-trigger"][aria-expanded="true"], [data-slot="dropdown-menu-trigger"][aria-expanded="true"])::before {
  &:is(form):has([data-is-editing="true"], *:focus-visible, [aria-expanded="true"], [data-state="open"])::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
    z-index: 1;

    @starting-style {
      opacity: 0;
    }

  }
}


/**
 * Use .loneText on an element (usually a text or span) when you have a button or an icon next to a text and you want the text
 * to take all the remaining space.
 *
 * flex will automatically trigger on the parent element.
 */
:has(.loneText) {
  flex: 1;
  padding-right: 0;
}

.loneText {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}