/**
 * Styles for the Sidebar Calendar component
 */
.sidebar-calendar-container {
  padding: 0;

  & .card-container {
    border: 0;
    box-shadow: none;
    background: none;

    &__content {
      padding-inline: calc(var(--spacing) * 2);
    }

  }

  & .calendar {
    padding: 0 5px;
  }

}