/**
 * Styles for dialog components
 *
 * In order to customize the dialog for the login form,
 * we define specific styles for the dialog content
 * 
 * SETTINGS :
 * 1 : Synchronize the name with the className passed to the Modal component
 * 2 : Customize styles as needed
 *
 * Example :
 * Your modal name is "login" -> 
 * .dialog__content--login { my-custom-styles }
 */
.dialog__content {
  overflow: hidden;
  padding: 0;
  border: none;
  background: transparent;
  max-block-size: 850px;
  // block-size: max-content;
  transition: max-block-size 0.3s ease;

  & [data-slot="card-content"] {
    overflow: auto;
    max-block-size: 650px;
    transition: max-block-size 0.3s ease;

    * {
      transition: 0.3s ease;
    }
  }

  &--login,
  &--signup,
  &--pw-recovery-email-sent {
    max-width: 400px;
  }

  &--create-diploma,
  &--new-degree-item,
  &--new-degree-item-skill {
    max-width: 350px;
  }

}

@keyframes dialog-tag-enter {
  from {
    max-block-size: 0;
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    max-block-size: 64px;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dialog-tag-close {
  from {
    max-block-size: 64px;
    opacity: 1;
    transform: translateY(0);
  }

  to {
    max-block-size: 0;
    opacity: 0;
    transform: translateY(-4px);
  }
}

.dialog__content [data-slot="item-group"] {
  & [data-slot="item-actions"].opened {
    animation: dialog-tag-enter 0.4s ease;
  }

  & [data-slot="item-actions"].closed {
    // opacity: 0;
    animation: dialog-tag-close 0.4s ease forwards;
  }

  will-change: max-block-size,
  opacity,
  transform;
}