/**
 * Styles for dialog components
 *
 * In order to customize the dialog for the login form,
 * we define specific styles for the dialog content
 * 
 * SETTINGS :
 * 1 : Synchronize the name with the className passed to the Modal component
 * 2 : Customize styles as needed
 *
 * Example :
 * Your modal name is "login" -> 
 * .dialog__content--login { my-custom-styles }
 */
.dialog__content {
  overflow: hidden;
  padding: 0;
  border: none;
  background: transparent;

  &--login,
  &--signup,
  &--pw-recovery-email-sent {
    max-width: 400px;
  }

  &--create-diploma {
    max-width: 350px;
  }

}