@use 'keyframes' as *;
@use "index" as *;

/**
 * Styles for dialog components
 *
 * In order to customize the dialog for the login form,
 * we define specific styles for the dialog content
 * 
 * SETTINGS :
 * 1 : Synchronize the name with the className passed to the Modal component
 * 2 : Customize styles as needed
 *
 * REMARKS : @link src/components/modals/Modal.tsx - The className is passed as follows :
  * <Modal className={`dialog__content--${modalName}`} ... /> 
 *
 * Example :
 * Your modal name is "login" -> 
 * .dialog__content--login { my-custom-styles }
 */
.dialog__content {
  overflow: hidden;
  padding: 0;
  border: none;
  background: transparent;
  max-block-size: max-content;
  // max-block-size: 850px;
  // block-size: max-content;
  transition: max-block-size 0.3s ease;

  & [data-slot="card-content"] {
    @extend .card-content-max-height-with-animation;
  }

  &--login,
  &--signup,
  &--pw-recovery-email-sent {
    max-width: 400px;
  }

  &--create-diploma,
  &--new-degree-item,
  &--new-degree-item-skill {
    max-width: 350px;
  }

}

.dialog__content [data-slot="item-group"] {
  & [data-slot="item-actions"].opened {
    animation: dialog-tag-enter 0.4s ease;
  }

  & [data-slot="item-actions"].closed {
    // opacity: 0;
    animation: dialog-tag-close 0.4s ease forwards;
  }

  will-change: max-block-size,
  opacity,
  transform;
}