/**
 * Styles for DropdownMenu component
 * 
 * Applied to DropdownMenuContent in #TriggeredSettingsPopup component
 */
.dropdown-menu-container {
  width: var(--radix-dropdown-menu-trigger-width);
  min-width: calc(var(--spacing) * 56);
  border-radius: var(--radius);

  // Resets item parent cursors
  a {
    cursor: default;
  }

  .menu__label {
    padding: 0;
    font-weight: normal;
  }

  .menu__item {
    cursor: pointer;

    &[data-disabled] {
      cursor: "none" !important;
    }
  }

}