@use 'mixins' as *;

/**
 * Styles for the Evaluation Page component.
 */
.evaluation-page {

  &--container {
    --gap-spacing: calc(var(--spacing) * 6);

    height: 100%;
  }

  &--content {
    overflow: hidden;

    &--container {
      // overflow: hidden;
      display: grid;
      grid-template-columns: 0.05fr 1fr minmax(3rem, 0.05fr);
      justify-self: center;

      width: 97%;
      height: 100%;
      box-shadow: none;
      border: none;

      background: none;

      &__header {}

      .content {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1.5fr 0fr 3fr;
        gap: var(--gap-spacing);
        width: 100%;
        align-items: center;

        // padding-left: 0;
        padding: 0;

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0fr 1fr;
        }

        &__left-side {
          display: grid;
          gap: var(--gap-spacing);
          width: 100%;

          &--number {
            font-size: calc(var(--text-xl) * 3);
            font-weight: bold;
          }

          &--title {
            margin-bottom: var(--gap-spacing);
            font-weight: bold;
          }

          &--description {
            font-size: var(--text-md);
          }
        }

        &__separator {
          height: 50%;
          width: 1px;
          margin: auto;

          @media screen and (max-width: 768px) {
            width: 50%;
            height: 1px;
          }
        }

        &__right-side,
        .arrow-back {
          grid-column: 3;
          grid-row: 1;
          // grid-template-columns: subgrid;
          place-self: center;
          min-width: 40%;
          // width: min-content;
          max-height: 80vh;
          overflow: hidden;

          &.arrow-back {
            min-width: unset;
            justify-self: left;
          }

          &--container {
            overflow: hidden;
            display: grid;
            place-self: center;
            gap: calc(var(--spacing) * 3);
            width: 100%;
            max-height: 55vh;
            overflow-y: auto;

            & .right__content {
              display: grid;
              gap: calc(var(--spacing) * 6);
            }
          }
        }
      }

      .footer {
        padding: 0;
        justify-self: center;
      }
    }
  }
}