@use 'mixins' as *;

/**
 * Styles for the Evaluation Page component.
 */
.evaluation-page {

  &--container {
    --gap-spacing: calc(var(--spacing) * 6);

    height: 100%;
  }

  &--content {
    &--container {
      display: flex;
      flex-direction: row;
      justify-self: center;
      width: 97%;
      height: 100%;
      box-shadow: none;
      border: none;

      background: none;
      // border-left: 7px solid;

      &__header {}

      .content {
        display: grid;
        grid-template-columns: 1.5fr 0fr 3fr;
        gap: var(--gap-spacing);
        width: 100%;
        align-items: center;

        padding-left: 0;

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0fr 1fr;
        }

        &__left-side {
          display: grid;
          gap: var(--gap-spacing);
          width: 100%;

          &--number {
            font-size: calc(var(--text-xl) * 3);
            font-weight: bold;
          }

          &--title {
            margin-bottom: var(--gap-spacing);
            font-weight: bold;
          }

          &--description {
            font-size: var(--text-md);
          }
        }

        &__separator {
          height: 50%;
          width: 1px;
          margin: auto;

          @media screen and (max-width: 768px) {
            width: 50%;
            height: 1px;
          }
        }

        &__right-side,
        .arrow-back {
          place-self: center;
          min-width: 40%;
          grid-column: 3;
          grid-row: 1;

          &.arrow-back {
            min-width: unset;
            justify-self: left;
          }

          &--container {
            display: grid;
            gap: var(--gap-spacing);

            .right__content {
              display: grid;
              gap: calc(var(--spacing) * 3);
            }
          }
        }
      }

      .footer {
        padding-left: 0;
      }
    }
  }
}