/**
 * Generic Styles for Pages containing a card centered in the page
 */
.generic-page-container {
  --localSpacing: calc(var(--spacing) * 6);
  --iconSpacing: calc(var(--spacing) * 4);
  --paddingMinusPageHeaderSize: var(--page-header-height);

  background-color: var(--muted);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--localSpacing);
  // min-height: 100svh;
  padding: var(--localSpacing);
  overflow: hidden;
  min-height: max-content;
  height: 100%;

  .generic-page__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--localSpacing);
    max-width: var(--container-sm);
  }

  .generic-page__logo {
    display: flex;
    align-items: center;
    align-self: center;
    gap: var(--app-overall-gap);
    font-weight: var(--font-weight-medium);

    &--background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--localSpacing);
      height: var(--localSpacing);
      background-color: var(--primary);
      color: var(--primary-foreground);
      border-radius: calc(var(--radius) - 2px);
    }

    &--icon {
      width: var(--iconSpacing);
      height: var(--iconSpacing);
    }
  }

  @media screen and (min-width: 48rem) {
    padding: calc(var(--spacing) * 10);
  }

  @media screen and (max-width: 48rem) {
    padding-bottom: var(--paddingMinusPageHeaderSize);
  }
}