/**
 * Keyframes for animations used throughout the app
 */

@keyframes slideDown {
  from {
    transform: translateY(-15px);
    height: 0;
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0px);
    height: var(--radix-collapsible-content-height);
  }

  to {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
  }
}

@keyframes dialog-tag-enter {
  from {
    max-block-size: 0;
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    max-block-size: 64px;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dialog-tag-close {
  from {
    max-block-size: 64px;
    opacity: 1;
    transform: translateY(0);
  }

  to {
    max-block-size: 0;
    opacity: 0;
    transform: translateY(-4px);
  }
}

/* animations for the evaluation creation tabs - outgoing transitions */
@keyframes outgoing-rightside {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(var(--outgoing-offset));
  }
}

@keyframes out-left-number {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(var(--left-number-offset));
  }
}

@keyframes out-left-desc {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes out-left-title {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(-2rem);
  }
}

/* step three vertical carousel animations */
@keyframes step-three-module-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}

@keyframes step-three-evaluation-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes step-three-module-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes step-three-evaluation-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
    display: none;
  }
}