/**
  * Styles for the navigation tabs component.
  */
.nav-tabs-container {
  $transform : calc(var(--nav-tabs-height) / 2 * -1);
  --nav-tabs-translate-y: $transform;
  position: relative;
  display: flex;
  transform: translateY($transform);
  flex-wrap: wrap;
  height: var(--nav-tabs-height);

  @media screen and (max-width: 768px) {
    background: var(--background);
  }

}

/**
 * !! IMPORTANT !!
 * Styles for the navigation tabs select group
 * when opened on mobile.
 */
.bg-popover:is([data-state="open"]):has(.nav-tabs__select-group) {
  transform: translateX(-5px);
}