@use "mixins" as *;

/**
  * Styles for the navigation tabs component.
  */
.nav-tabs-container {
  z-index: 10;
  $transform : calc(var(--nav-tabs-height) / 2 * -1);
  --nav-tabs-translate-y: $transform;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  transform: translateY($transform);
  flex-wrap: wrap;
  height: var(--nav-tabs-height);

  @include for-size(smalltablet) {
    background: var(--background);
  }

}

/**
 * !! IMPORTANT !!
 * Styles for the navigation tabs select group
 * when opened on mobile.
 */
.bg-popover:is([data-state="open"]):has(.nav-tabs__select-group) {
  transform: translateX(-5px);
}