/**
 * Styles for the Page Header component
 */
.page__header-container {
  display: flex;
  height: calc(var(--spacing) * 16);
  align-items: center;
  gap: calc(var(--spacing) * 2);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding-left: 0 !important;
  flex-shrink: 0;

  &:is(:where(.group\/sidebar-wrapper):has(*[data-collapsible="icon"]) *) {
    height: calc(var(--spacing) * 12);
  }

  .page__sidebar-trigger {
    margin-left: calc(var(--spacing) * -1);

    &--separator {
      margin-inline: calc(var(--spacing) * 2);

      &[data-orientation="vertical"] {
        height: calc(var(--spacing) * 4);
      }
    }
  }

  .header__breadcrumb-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: calc(var(--spacing) * 1);
    padding-inline: calc(var(--spacing) * 3);
    // padding-inline: calc(var(--spacing) * 4) !important;
    // padding-left: calc(var(--spacing) * 0) !important;

    @media screen and (min-width: 1024px) {
      // gap: calc(var(--spacing) * 2) !important;
      padding-inline: calc(var(--spacing) * 6);
    }
  }

  .header__breadcrumb-item,
  .header__breadcrumb-separator {
    display: none;

    @media screen and (width >=48rem) {
      display: block;
    }
  }

  .header__actions-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);

    .actions__button {
      display: flex;

      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }
}