/**
  * Styles for the PageTitle component
  * Note: This component is used in the PageHeader component, so it inherits some styles from there.
  
  * @see PageHeader.scss
  * @see _index.scss for global variables used in this component
  */
.page__title-container {
  display: flex;
  font-size: var(--page-title-fs);
  padding-block: var(--page-title-padding-top) var(--page-title-padding);
  padding-inline: 25px;
  font-weight: var(--page-title-fw);
  align-items: baseline;
  line-height: var(--page-title-lh);

  h1 {
    display: flex;
  }

  .title__icon {
    margin-left: 3px;
    padding-top: 10px;
    color: var(--icon-color);
    cursor: pointer;
    opacity: var(--icon-not-hovered-opacity);
    transition: opacity var(--hover-opacity-transition), transform var(--hover-opacity-transition);

    &:hover {
      opacity: var(--hover-opacity);
      transform: scale(var(--hover-scale));
    }

    &:active {
      transform: scale(var(--hover-scale-active));
    }
  }
}