/**
 * Styles for the page content container.
 *
 * The inner part of a page.
 * It will have a border around the area and will allow the content to fully use the height of the page.
 */

$arrow-size: 20px;
$hidden-size: 3rem;

.page__content-container {
  height: 100%;
  border: 1px solid var(--border);
  border-right: none;
  border-left-width: 7px;
  border-bottom: none;
  border-radius: 10px;
  padding-bottom: var(--bottom-padding);
  margin-bottom: var(--bottom-margin);
  margin-right: 1rem;
  transition: transform 0.3s ease, border-left-width 0.3s ease-in-out;

  &:has(.left-arrow:hover, .header:hover) {
    border-left-width: 15px;
  }

  &:has(.right-arrow:hover) {
    //
  }

  .left-arrow,
  .right-arrow,
  .header {
    // avoid any scrolling issues
    position: sticky;
    top: 0;

    justify-content: center;
    position: relative;
    transition: all 0.5s ease;
    // background: rgba(49, 5, 5, 0.06);
  }

  :is(.left-arrow, .right-arrow)::after {
    content: "";
    position: absolute;
    padding: $arrow-size;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.06);
    opacity: 0;
    transform: scale(0.1);
    transition: all 0.7s ease, padding 2.5s ease, opacity 0.2s ease, transform 0.9s ease;
  }

  :is(.left-arrow, .right-arrow):hover::after,
  :is(.left-arrow, .right-arrow):focus::after {
    opacity: 1;
    transform: scale(1.03);
  }

  :is(.left-arrow, .right-arrow, .header):hover {
    cursor: pointer;
    transition: all 0.7s ease, transform 0.3s ease allow-discrete, color 0.3s ease;

    :not(.header) & {

      &:is(.right-arrow, .left-arrow) {
        height: 1rem;
        width: 1rem;

        &::before {
          content: "";
          position: absolute;
          height: $hidden-size;
          width: $hidden-size;
        }

        &:is(.left-arrow) {
          transform: scale(1.1) translateX(-20px);
        }

        &:is(.right-arrow) {
          transform: scale(1.1) translateX(15px);
        }
      }

    }
  }

}