@use "mixins" as *;

/**
 * Styles for the Page Header component
 */
.page__header-container {
  display: flex;
  height: var(--page-header-height);
  align-items: center;
  gap: var(--app-overall-gap);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding-left: 0 !important;
  flex-shrink: 0;

  .page__sidebar-trigger {
    inset: 0;

    &--separator {
      margin-inline: var(--app-overall-gap);

      &[data-orientation="vertical"] {
        height: calc(var(--spacing) * 4);
      }
    }
  }

  .header__breadcrumb-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--app-overall-gap);
    padding-inline: calc(var(--spacing) * 3);

    @include for-size(desktop) {
      padding-inline: calc(var(--spacing) * 6);
    }
  }

  .header__breadcrumb-item,
  .header__breadcrumb-separator {
    display: none;

    @include for-size(above-smalltablet) {
      display: block;
    }
  }

  .header__actions-container {
    margin-left: auto;
    display: flex;

    .actions__button {

      @include for-size(smalltablet) {
        display: none;
      }
    }
  }
}