/**
  * Styles for the Sidebar Buttons
  */

@property --width {
  initial-value: 100%;
  inherits: false;
  syntax: '<percentage>'
}

.sidebarButton {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border: 1px solid var(--primary);
  transition: background-color 0.2s ease;
  min-width: 34px;


  &--menu {
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &[data-state="open"] {
      background-color: var(--sidebar-accent);
      color: var(--sidebar-accent-foreground);
    }

    &-dots {
      margin-left: auto;
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
    }

    &-icon {
      stroke: "#404040";

      :hover {
        cursor: pointer;
      }
    }

    &:hover {
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &--quickbutton {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);

    &:hover {
      cursor: pointer;
    }
  }

  &--submenu {
    --buttonMaxWidth: calc(var(--width) - 50%);

    flex: 1;
    transition: transform 0.3s ease;
    transform: translateX(calc(var(--buttonMaxWidth) - 12px));

    :is([data-state="open"]) & {
      transform: translateX(var(--buttonMaxWidth)) rotate(90deg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
    color: var(--primary-foreground-hover);
  }

  &:active,
  &--effect:active {
    transform: scale(0.95);
  }

}