/**
 * Redefined toaster component styles
 * to adjust min-width and max-width
 *
 * BUG FIX
 */
.toaster-redefined {
  min-width: 320px;
  max-width: fit-content;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 640px) {
    min-width: none;
    max-width: none;
  }

}